.dash-table-container .row {
  display: block;
  margin: 0;
  
}

.input-group-text {
    width: 175px !important;

}

blockquote {
    border-left: 8px #446e9b solid;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
}







